body {
  background-image: linear-gradient(#FC8D3E,white, #5AC4C2, 
  white, #F4332A,white,#F6BF64);
background-size:cover;
}
 
.center {
  margin-top: 100px;
}

/* range */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.0px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    background: #5AC4C2;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 21px;
    width: 12px;
    border-radius: 3px;
    background: #FC8D3E;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #5AC4C2;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    background: #5AC4C2;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 21px;
    width: 12px;
    border-radius: 3px;
    background: #FC8D3E;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #5AC4C2;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 21px;
    width: 12px;
    border-radius: 3px;
    background: #FC8D3E;
    cursor: pointer;
    height: 5.3px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #5AC4C2;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #5AC4C2;
  }

@media screen and (max-width:  462px) {

  .card {
    width: 100%;
    height: 600px;
    position: relative;
  }

} 

@media screen and (max-width: 992px) {

  .card {
    width: 430px;
    height: 560px;
  }

  .container {
    width: 100%;
    padding: 4px;
  }

  .center {
    margin-top: 100px;
    margin-left: 3px;
    position: absolute;
    top: 67%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }

} 

